@charset "UTF-8";
:root {
  --color-background:  #e6ebe0;
  --color-base-light: #9bc1bc;
  --color-base-dark: #56a4a9;
  --color-accent-1: #ed6a5a;
  --color-accent-2: #f4f1bb;
}

a:hover {
    color: var(--color-base-dark);
}

a {
    color: var(--color-accent-1);
    text-decoration: none;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: white;/*var(--color-background);*/
}

table {
    width: 62%;
    border-collapse: collapse;
}

th {
  padding: 5px;
  text-align: left;
  background-color: var(--color-background);
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: var(--color-background);
}

.home-menu-box {
  border: 5px solid var(--color-base-dark);
  background-color: var(--color-background);
  padding: 20px;
  box-sizing: content-box;
  margin: 20px;
  border-radius: 20px;
}

.home-menu {
    font-size: 28px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: var(--solarized-base1);
}

.home-title {
    font-weight: bold;
    font-size: 48px;
    font-family: Helvetica, sans-serif;
    color: var(--solarized-base1);
    margin: 0;
}

.home-subtitle{
    font-weight: normal;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    color: var(--color-accent-1);
    margin: 0;

}

h2 {
    font-family: Helvetica, sans-serif;
    color: var(--solarized-base1);
}

h3 {
    font-family: Helvetica, sans-serif;
    color: var(--solarized-base1);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-stransform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer {
    width: 100%;
    text-align: center;
    height: 2.5rem;
}
