:root {
  --main-hue: 222;
  --accent-hue: 312;
  --main-dark: hsl(var(--main-hue), 75%, 15%);
  --main-medium: hsl(var(--main-hue), 75%, 50%);
  --main-light: hsl(var(--main-hue), 75%, 95%);
  --accent-dark: hsl(var(--accent-hue), 75%, 15%);
  --accent-medium: hsl(var(--accent-hue), 75%, 50%);
  --accent-light: hsl(var(--accent-hue), 75%, 95%);
  --font-main: helvetica;
}

a:link {
  color: var(--main-dark);
}
a:visited {
  color: var(--main-dark);
}

.home, .publications {
  color: var(--main-dark);
  font-family: var(--font-main);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.home > div, .publications > div {
  justify-self: center;
}

.homeTitleBox {
  grid-row: 1;
  text-align: center;
  align-self: center;
}

.homeTitleBox h1 a{
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: var(--main-dark);
}

.homeTitleBox a {
  color: var(--accent-medium);
}

.homeTitleBox > a img {
  border-radius: 50%;
  width: 200px;
}

.homeAboutMeBox {
  grid-row: 2;
  max-width: 600px;
}

.pubBox {
  grid-row: 2;
  max-width: 600px;
}

.pubBox a li {
  padding-bottom: 15px;
}

body {
  background-color: var(--main-light);
}
